#title-home{
    font-size: 40px;
    font-family: sans-serif;
}

.btn{
    width: 100px;
    padding: 10px 15px;
    background-color: $btn-background;
    color: white;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

@mixin text-style($fontFamily, $fontSize, $color){
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $color;
}